<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated commHandler4Modbus -->
      <package
            uri="http://www.example.org/commHandler4Modbus"
            class="commHandler4Modbus.CommHandler4ModbusPackage"
            genModel="model/commHandler4Modbus.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated commHandler4Modbus1 -->
      <package
            uri="http://www.smartgridready.ch/sgr/ns/V0/"
            class="ch.smartgridready.sgr.ns.v0.V0Package"
            genModel="model/commHandler4Modbus.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated commHandler4Modbus1 -->
      <parser
            type="v0"
            class="ch.smartgridready.sgr.ns.v0.util.V0ResourceFactoryImpl"/>
   </extension>



</plugin>
