<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern=" %-5level %c{1.} - %msg%n"/>
    </Console>
    <File name="File" fileName="commhandler.log">
      <PatternLayout>
        <Pattern> %p %c{1.}  %m%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="info">
        <!--  setzt tiefsten level fuer output -->
        <AppenderRef ref="Console"/>
        <AppenderRef ref="File"/>
    </Root>   
  </Loggers>
</Configuration>
<!--  levels:  
      "off", 
      "trace", 
      "debug", 
      "info", 
      "warn", 
      "error", 
      "fatal", and "all"
      
       https://logging.apache.org/log4j/2.x/manual/configuration.html Configuring Log4j 2      
-->
