<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="[%t] %-5level %c{1.} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="debug">
    <!--  setzt tiefsten level fuer output -->
        <AppenderRef ref="Console"/>
    </Root>
    <logger name="org.apache.hc" level="info" />   
  </Loggers>    
</Configuration>
<!--  levels:  
      "off", 
      "trace", 
      "debug", 
      "info", 
      "warn", 
      "error", 
      "fatal", and "all"
      
       https://logging.apache.org/log4j/2.x/manual/configuration.html Configuring Log4j 2      
-->
