<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated genInterfaceModel -->
      <package
            uri="http://www.smartgridready.com/ns/V0/"
            class="com.smartgridready.ns.v0.V0Package"
            genModel="model/genInterfaceModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated genInterfaceModel -->
      <parser
            type="v0"
            class="com.smartgridready.ns.v0.util.V0ResourceFactoryImpl"/>
   </extension>

</plugin>
